/* CSS Document */

body {
	height:100%;
	width:100%;
	font-family:verdana,tahoma;
	font-size:100%;
	color:#ffffff;
	background:#000 url(headbg.jpg) no-repeat top center;
}

div#container {
	width:960px;
	padding:20px;
	margin:0 auto;
	background:url(trans.png) top left;
	position:relative
}

div#header {
	width:960px;
	height:390px;
	border:2px solid #FFF;
	clear:both;
	margin:0 auto;
	position:relative;
	z-index:1;
}

div#footer {
	width:inherit;
	clear:both;
	background:url(footbg.jpg) no-repeat bottom center;
}
